@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 5),rgba(0,0,0,0)), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    position: relative;
    margin-left: 15px;
    border-radius: 15px;
}

.new-year {
    position: relative;
    top: 177px;
    color: white;
    text-shadow: 2px 2px 5px blue;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new-year-party {
    width: 632px;
    color: white;
    text-shadow: 2px 2px 5px blue;
    margin: 200px 344px 177px 344px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
            /* Header Style Ends */

            /* Discount Style Part Start */

.dis-off{
    color: #F00;
    text-align: center;
    margin-top: 100px;
    font-size: 82px;
    font-family: 'Inter', sans-serif;
}

.deals{
    color: #F00;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.catagories{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
}

.new-year-photo{
    width: 800px;
    height: 500px;
    margin-left: 262px;
    margin-bottom: 130px;

}
        /* Discount Style Part End */

        /* Welcome Style Start */

.welcome-party{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 5),rgba(0,0,0,0)), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    position: relative;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    
}
.group-image{
    width: 310px;
    height: 450px;
    position: relative;
    top: 60px;
    margin-right: 200px;
}
.midnight-party{
    margin-left: 100px;
    margin-top: 100px;

}
.welcome{
    color: white;
    width: 640px;
    font-size: 60px;
    font-family: Merriweather;
    text-shadow: 2px 2px 5px blue;
    letter-spacing: 7px;
    line-height: 90px;
    margin-bottom: 20px;
}
.about-me{
    color: rgb(216, 210, 210);
    font-size: 18px;
    line-height: 30px;
    width: 750px;

}
.joinbtn{
    padding: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px rgb(240, 58, 58);
}
.joinbtn:hover{
    cursor: pointer;
    background: rgb(240, 58, 58);
    color: white;
    transition: .5s;
    box-shadow: 2px 2px 10px white;
}
        /* Welcome Style Start */

        /* Date And Time Style Start */

.box1{
    width: 1320px;
    height: 480px;
    background: linear-gradient(rgba(255, 0, 0, .2), rgba(255, 0, 0, 0));
    margin-left: 15px;
    border-radius: 15px;
    margin-top: 120px;
    position: relative;

}
.box2{
    position: relative;
    text-align: center;
    top: 100px;
}
.date-time{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 56px;
    text-transform: capitalize;
}
span{
    color: #F00;
}
.datebtn{
    background-color: #F00;
    color: white;
    padding: 16px 32px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(128, 128, 129);
    text-transform: uppercase;
    position: relative;
    top: 50px;
    
}
.datebtn:hover{
    cursor: pointer;
    padding: 20px 36px;
    font-size: 26px;
    transition: .2s;
    background-color: rgb(158, 158, 158);
}

        /* Date And Time Style End */

        /* Best Offer Style part start */

.bonus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    height: 480px;
}

.comming-soon{
    width: 400px;
    margin-left: 15px;
}

.offer{
    color: #F00;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.coming-heading{
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
    line-height: 20px;
}
.para{
    color: #636263;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
}
.elipse{
    width: 450px;
    height: 450px;
    border: 20px solid #F00;
    border-radius: 50%;
    margin-left: -100px;
    
}

.elibox{
    width: 365px;
    height: 365px;
    position: relative;
    top: 42px;
    left: 42px;
}
.new24{
    width: 280px;
    margin-right: 20px;
    position: relative;
}
.year{
    font-size: 48px;
    color:#F00;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 15px;
}
.image{
    width: 140px;
    height: 150px;
    position: relative;
    top: 75px;
}

              /* Best Offer Style part End */

              /* Holidays Sale 50% Style Start */

.function{
    width: 1320px;
    margin-left: 15px;
    margin-top: 120px;

}

.holiday{
    text-align: center;
    
}
.function-h4{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.holiday-sale{
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 10px;

}
.sales-matter{
    width: 1000px;
    margin-left: 200px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}
.discount50{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image1{
    width: 800px;
    height: 665px;
    position: relative;
    top: 60px;
}

.image2{
    width: 210px;
    height: 210px;
    position: relative;
    right: 40px;
    
}

.image3{
    width: 430px;
    position: relative;
    bottom: 50px;
    right: 160px;
    z-index: -1;
}
.boxred{
    position: relative;
    width:1320px;
    height: 180px;
    background-color: #F00;
    border-radius: 15px 0px 0px  15px;
    bottom: 175px;
    z-index: -1;
}